<%= search_form_for @q, url: search_index_path do |f|%>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.text_field :address_cont, class: 'form-control', placeholder: 'Address' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.select :type_of_room_id_eq, TypeOfRoom.all.collect {|p| [ p.name, p.id]}, {include_blank: true}, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <%= f.submit 'Search', class: 'page-scroll btn btn-xl'%>
      </div>
    </div>
  </div>
  <div class="advanced_search_field" style="display: none;">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.number_field :price_gt, class: 'form-control', placeholder: 'Price from', disabled: true%>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.number_field :price_lt, class: 'form-control', placeholder: 'To', disabled: true %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.number_field :number_of_guest_eq, class: 'form-control', placeholder: 'Guest', disabled: true %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.number_field :number_of_bed_eq, class: 'form-control', placeholder: 'Bed', disabled: true %>
        </div>
      </div>
      <br>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="">
          <%= f.check_box :amentity_internet_true, disabled: true, include_hidden: false %>
          internet
        </div>
      </div>
      <div class="col-md-2">
        <div class="">
          <%= f.check_box :amentity_air_conditioning_true, disabled: true, include_hidden: false %>
          air_conditioning
        </div>
      </div>
      <div class="col-md-2">
        <div class="">
          <%= f.check_box :amentity_cable_tv_true, disabled: true, include_hidden: false %>
          cable_tv
        </div>
      </div>
      <div class="col-md-2">
        <div class="">
          <%= f.check_box :amentity_breakfast_true, disabled: true, include_hidden: false %>
          breakfast
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="">
          <%= f.check_box :amentity_parking_true, disabled: true, include_hidden: false %>
          parking
        </div>
      </div>
      <div class="col-md-2">
        <div class="">
          <%= f.check_box :amentity_elevator_true, disabled: true, include_hidden: false %>
          elevator
        </div>
      </div>
      <div class="col-md-2">
        <div class="">
          <%= f.check_box :amentity_heating_true, disabled: true, include_hidden: false %>
          heating
        </div>
      </div>
      <div class="col-md-2">
        <div class="">
          <%= f.check_box :amentity_hot_tub_true, disabled: true, include_hidden: false %>
          hot_tub
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <a href="" class='advanced_search btn btn-xl'  onclick="$('.advanced_search_field').slideToggle(); $('.advanced_search_field *').prop('disabled', (_, val) => !val); return false;">Advanced Search</a>
  </div>
<% end %>
