<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <h2>You've just created this room</h2>
    <p>
      <strong>Type of room:</strong>
      <%= @room.type_of_room.name %>
    </p>
    <p>
      <strong>User:</strong>
      <%= @room.user.name %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @room.name %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @room.address %>
    </p>
    <p>
      <ul>
        <li style="text-decoration: <%=display_line_through @room.amentity.try(:internet)%>">Internet</li>
        <li style="text-decoration: <%=display_line_through @room.amentity.try(:air_conditioning)%>">Air conditioning</li>
        <li style="text-decoration: <%=display_line_through @room.amentity.try(:cable_tv)%>">Cable TV</li>
        <li style="text-decoration: <%=display_line_through @room.amentity.try(:breakfast)%>">Breakfast</li>
        <li style="text-decoration: <%=display_line_through @room.amentity.try(:parking)%>">Parking</li>
        <li style="text-decoration: <%=display_line_through @room.amentity.try(:elevator)%>">Elevator</li>
        <li style="text-decoration: <%=display_line_through @room.amentity.try(:heating)%>">Heating</li>
        <li style="text-decoration: <%=display_line_through @room.amentity.try(:hot_tub)%>">Hot Tub</li>
      </ul>
    </p>
    <p>
      <strong>Number of guest:</strong>
      <%= @room.number_of_guest %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @room.price %>
    </p>

    <p>
      <strong>Accomodates:</strong>
      <%= @room.accomodates %>
    </p>

    <p>
      <strong>Number of bed:</strong>
      <%= @room.number_of_bed %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @room.description %>
    </p>

    <p>
      <strong>House rules:</strong>
      <%= @room.house_rules %>
    </p>
  </body>
</html>
