<div class="portfolio-modal modal fade" id=<%="portfolioModal#{room.id}"%> tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <a href="#overview">Overview</a>
              <a href="#google-map">Location</a>
              <a href="#reviews">Review</a>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-8">
                <h2>
                  <%= room.name %>
                </h2>
                <i>
                  <%= room.address %>
                </i>
              </div>
              <div class="col-md-4">
                <%= image_tag(room.user.image.url(:original), size: 40, class: 'img-circle')%>
                <b>
                  <br>
                  <%= room.user.name %>
                </b>
                <br>
                <%= link_to 'send a message', new_personal_message_path(receiver_id: room.user) %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3 text-center">
                <i class="<%= type_of_room_display(room.type_of_room)%>" aria-hidden="true" style="font-size:40px;"></i>
                <br>
                <%= room.type_of_room.name %>
              </div>
              <div class="col-md-3 text-center">
                <i class="fa fa-user-o" aria-hidden="true" style="font-size:40px;"></i>
                <br>
                <%= pluralize(room.number_of_guest, 'guest') %>
              </div>
              <div class="col-md-3 text-center">
                <i class="fa fa-bed" aria-hidden="true" style="font-size:40px;"></i>
                <br>
                <%= pluralize(room.number_of_bed, 'bed') %>
              </div>
              <div class="col-md-3 text-center">
                <i class="fa fa-group" aria-hidden="true" style="font-size:40px;"></i>
                <br>
                <%= pluralize(room.accomodates, 'accomodate') %>
              </div>
            </div>
            <hr>
            <div class="row" id='overview'>
              <b>Description</b>
              <p>
                <%= room.description %>
              </p>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <b>House rules</b>
              </div>
              <div class="col-md-9">
                <%= room.house_rules %>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <b>Amentities</b>
              </div>
              <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-6">
                      <%= icon_content('fa fa-globe', 'Internet', room.amentity.try(:internet))%><hr>
                    </div>
                    <div class="col-md-6">
                      <%= icon_content('fa fa-home', 'air_conditioning', room.amentity.try(:air_conditioning))%><hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= icon_content('fa fa-tv', 'cable_tv', room.amentity.try(:cable_tv))%><hr>
                    </div>
                    <div class="col-md-6">
                      <%= icon_content('fa fa-cutlery', 'breakfast', room.amentity.try(:breakfast))%><hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= icon_content('fa fa-car', 'parking', room.amentity.try(:parking))%><hr>
                    </div>
                    <div class="col-md-6">
                      <%= icon_content('fa fa-caret-square-o-up', 'elevator', room.amentity.try(:elevator))%><hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= icon_content('fa fa-thermometer-full', 'heating', room.amentity.try(:heating))%><hr>
                    </div>
                    <div class="col-md-6">
                      <%= icon_content('fa fa-bath', 'hot_tub', room.amentity.try(:hot_tub))%><hr>
                    </div>
                  </div>
              </div>
            </div>

            <div class="row" id='google-map'>
              <div style='width: 800px;'>
                <div id="map<%=room.id%>" style='width: 768px; height: 400px;'>
                </div>
              </div>
            </div>
            <hr>
            <div class="row" id='reviews'>
              <b>Reviews</b>
              <hr>
              <% room.reviews.includes(:user).each do |r|%>
                <div class="">
                  <div class="row">
                    <div class="col-md-10">
                      <%= image_tag(r.user.image.url(:original), size: 40, class: 'img-circle')%>
                      <b><%= r.user.name%></b>
                      <%= r.created_at%>
                      <br>
                      <%= raw r.comment%>
                    </div>
                    <div class="col-md-2">
                      <b>Rank</b><br>
                      <%= r.rank%>
                    </div>
                  </div>
                </div>
                <hr>
              <% end %>
            </div>
            <div class="row">
            </div>
          </div>
          <div class="col-md-4">
            <%= render 'reservations/form', reservation: @reservation, room: room%>
          </div>
        </div>
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#portfolioModal<%=room.id%>').on('shown.bs.modal', function (e) {
    var handler = Gmaps.build("Google", {builders: { Marker: CustomMarkerBuilder }} )
    handler.buildMap({ internal:{ id: "map<%=room.id%>" }}, function(){
      markers = handler.addMarkers(<%=raw hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
  });
</script>
