<%= search_form_for @q, url: search_index_path do |f|%>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <%= f.text_field :address_cont, class: 'form-control', placeholder: 'Address' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.select :type_of_room_id_eq, TypeOfRoom.all.collect {|p| [ p.name, p.id]}, {include_blank: true}, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <%= f.submit 'Search', class: 'page-scroll btn btn-xl'%>
      </div>
    </div>
  </div>
  <div class="row advanced_search_field" style="display: none;">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.number_field :price_gt, class: 'form-control', placeholder: 'Price from', disabled: true%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.number_field :price_lt, class: 'form-control', placeholder: 'To', disabled: true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.number_field :number_of_guest_eq, class: 'form-control', placeholder: 'Guest', disabled: true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.number_field :number_of_bed_eq, class: 'form-control', placeholder: 'Bed', disabled: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <a href="" class='advanced_search btn btn-xl'  onclick="$('.advanced_search_field').slideToggle(); $('.advanced_search_field *').prop('disabled', (_, val) => !val); return false;">Advanced Search</a>
  </div>
<% end %>
