<div class="reservation_form">
  <%= form_for reservation do |f| %>
    <div class="reservation_form_price">
      <%= number_to_currency(room.price, precision:0)%>
      per night
    </div>
    <%= f.label :checkin_date, 'Checkin - Checkout Date'%>
    <%= f.text_field :checkin_date, class: 'daterange', style: 'width: 100%; padding: 6px 15px;'%>

    <%= f.label :number_of_guest%>
    <%= f.number_field :number_of_guest, class: 'form-control' %>

    <%= f.label :service_fee%>
    <%= f.number_field :service_fee, class: 'form-control' %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :room_id, value: room.id%>
    <%= f.hidden_field :status_id, value: 1%>
    <br>
    <%= f.submit 'Book Now', class: 'btn btn-xl', style: 'width: 100%;'%>
  <% end %>

</div>
