<div class="container">
  <div class="row">
    <div class="col-md-1 pull-right">
      <%= form_tag reservations_path, method: :get do %>
        <%= select_tag :limit, options_for_select([3, 5, 10, 20], selected: params[:limit] || 10), class: 'form-control', id: "show-limit" %>
      <% end %>
    </div>
  </div>
  <%= search_form_for @q do |f|%>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <% Reservation.column_names.each do |name| %>
            <th><%= sort_link(@q, name.to_sym)%></th>
          <% end %>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        <% @reservations.includes(:room, :status).each do |reservation|%>
          <tr>
            <th scope="row"><%= reservation.id%></th>
            <td class="col-md-1"><%= reservation.checkin_date %></td>
            <td class="col-md-1"><%= reservation.checkout_date %></td>
            <td><%= reservation.number_of_guest %></td>
            <td><%= reservation.service_fee %></td>
            <td><%= reservation.user.name %></td>
            <td><%= reservation.created_at %></td>
            <td><%= reservation.updated_at %></td>
            <td><%= reservation.room.name %></td>
            <td><%= reservation.status.name %></td>
            <td><%= number_to_currency reservation.total, precision: 0 %></td>
            <% if reservation.status_id != 2 %>
              <td><%= link_to 'Destroy', reservation_path(reservation), class: "btn btn-xl", method: :delete, 'data-confirm': 'Are you Sure?'%></td>
            <% end %>
          </tr>
        <% end%>
      </tbody>
    </table>
  <% end %>
  <div class="paginate">
    <%= paginate @reservations %>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $("#show-limit").on("change", function(){
      $(this).closest("form").trigger("submit");
    });
  })
</script>
