<%= form_for room, :html => { :multipart => true } do |f| %>
  <% if room.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

    <ul>
      <% room.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :type_of_room_id %>
      <%= f.select :type_of_room_id, @type_of_room.collect{ |u| [u.name, u.id]}, {}, class: 'form-control', style: 'width: 76% !important;' %>
    </div>
    <div class="col-md-6">
      <%= f.label :number_of_room %>
      <%= f.number_field :number_of_room, value: f.object.number_of_room %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="col-md-6">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
  </div>

  <%= f.fields_for :amentity do |builder| %>
  <div class="row">
    <div class="col-md-3">
      <div class="">
        <%= builder.check_box :internet %>
        <label for="room_amentity_attributes_internet">Internet</label>
      </div>

    </div>
    <div class="col-md-3">
      <div class="">
        <%= builder.check_box :air_conditioning %>
        <label for="room_amentity_attributes_air_conditioning">air_conditioning</label>
      </div>

    </div>
    <div class="col-md-3">
      <div class="">
        <%= builder.check_box :cable_tv %>
        <label for="room_amentity_attributes_cable_tv">cable_tv</label>
      </div>

    </div>
    <div class="col-md-3">
      <div class="">
        <%= builder.check_box :breakfast %>
        <label for="room_amentity_attributes_breakfast">breakfast</label>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="">
        <%= builder.check_box :parking %>
        <label for="room_amentity_attributes_parking">parking</label>
      </div>

    </div>
    <div class="col-md-3">
      <div class="">
        <%= builder.check_box :elevator %>
        <label for="room_amentity_attributes_elevator">elevator</label>
      </div>

    </div>
    <div class="col-md-3">
      <div class="">
        <%= builder.check_box :heating %>
        <label for="room_amentity_attributes_heating">heating</label>
      </div>

    </div>
    <div class="col-md-3">
      <div class="">
        <%= builder.check_box :hot_tub %>
        <label for="room_amentity_attributes_hot_tub">hot_tub</label>
      </div>

    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :number_of_guest %>
      <%= f.text_field :number_of_guest %>
    </div>
    <div class="col-md-6">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :number_of_bed %>
      <%= f.text_field :number_of_bed %>
    </div>
    <div class="col-md-6">
      <%= f.label :accomodates %>
      <%= f.text_field :accomodates %>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.label :house_rules %>
      <%= f.text_area :house_rules %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit %>
    </div>
  </div>
<% end %>
