<% if @room.image_rooms.present?%>
  <div style="position:relative; text-align: center;" data-toggle="modal" data-target="#carousel_modal">
    <%= image_tag @room.image_rooms.first.url(:original)%>
    <div style="position:absolute;left:0;bottom:0;">
      <button type="button" class="btn btn-xl">Click to Preview</button>
    </div>
  </div>
  <div class="">
    <%= render 'carousel' %>
  </div>
<% end %>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#overview">Overview</a></li>
          <li><a href="#google-map">Location</a></li>
          <li><a href="#reviews">Review</a></li>
        </ul>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-8">
          <% if can? :update, @room %>
            <%= link_to 'Edit This Room', edit_room_path(@room), class: "btn btn-xl"%>
          <% end %>
          <h2>
            <%= @room.name %>
          </h2>
          <div class="">
            <%= @room.updated_at %>
          </div>
          <i>
            <%= @room.address %>
          </i>
        </div>
        <div class="col-md-4">
          <%if current_user.provider == 'facebook'%>
            <%=image_tag(current_user.image_file_name, size: 40, class: 'img-circle') %>
          <% else %>
            <%=image_tag(current_user.image.url(:original), size: 40, class: 'img-circle') %>
          <% end %>
          <b>
            <br>
            <%= @room.user.name %>
          </b>
          <br>
          <%= link_to 'send a message', new_personal_message_path(receiver_id: @room.user) %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3 text-center">
          <i class="<%= type_of_room_display(@room.type_of_room)%>" aria-hidden="true" style="font-size:40px;"></i>
          <br>
          <%= @room.type_of_room.name %>
        </div>
        <div class="col-md-3 text-center">
          <i class="fa fa-user-o" aria-hidden="true" style="font-size:40px;"></i>
          <br>
          <%= pluralize(@room.number_of_guest, 'guest') %>
        </div>
        <div class="col-md-3 text-center">
          <i class="fa fa-bed" aria-hidden="true" style="font-size:40px;"></i>
          <br>
          <%= pluralize(@room.number_of_bed, 'bed') %>
        </div>
        <div class="col-md-3 text-center">
          <i class="fa fa-group" aria-hidden="true" style="font-size:40px;"></i>
          <br>
          <%= pluralize(@room.accomodates, 'accomodate') %>
        </div>
      </div>
      <hr>
      <div class="row" id='overview'>
        <b>Description</b>
        <p>
          <%= @room.description %>
        </p>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <b>House rules</b>
        </div>
        <div class="col-md-9">
          <%= @room.house_rules %>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <b>Amentities</b>
        </div>
        <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <%= icon_content('fa fa-globe', 'Internet', @room.amentity.try(:internet))%><hr>
              </div>
              <div class="col-md-6">
                <%= icon_content('fa fa-home', 'air_conditioning', @room.amentity.try(:air_conditioning))%><hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= icon_content('fa fa-tv', 'cable_tv', @room.amentity.try(:cable_tv))%><hr>
              </div>
              <div class="col-md-6">
                <%= icon_content('fa fa-cutlery', 'breakfast', @room.amentity.try(:breakfast))%><hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= icon_content('fa fa-car', 'parking', @room.amentity.try(:parking))%><hr>
              </div>
              <div class="col-md-6">
                <%= icon_content('fa fa-caret-square-o-up', 'elevator', @room.amentity.try(:elevator))%><hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= icon_content('fa fa-thermometer-full', 'heating', @room.amentity.try(:heating))%><hr>
              </div>
              <div class="col-md-6">
                <%= icon_content('fa fa-bath', 'hot_tub', @room.amentity.try(:hot_tub))%><hr>
              </div>
            </div>
        </div>
      </div>

      <div class="row" id='google-map'>
        <div style='width: 800px;'>
          <div id="map" style='width: 768px; height: 400px;'>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" id='reviews'>
        <div style="text-align:center">
          <b><%= pluralize(@reviews.size, 'review')%></b>
          <div class='star-rating' data-score=<%= @avg_rating %>></div>
        </div>
        <hr>
        <% @room.reviews.includes(:user).each do |r|%>
          <div class="">
            <div class="row">
              <div class="col-md-10">
                <%= image_tag(r.user.image.url(:original), size: 40, class: 'img-circle')%>
                <b><%= r.user.name%></b><br>
                <%= r.created_at%>
                <br>
                <div class="reviews">
                  <p><%=raw r.comment %></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="star-rating" data-score= <%= r.rank %> ></div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
      <% if current_user.reservations.where(room_id: @room.id).count > 0 %>
        <div class="row">
          <%= render 'reviews/form' %>
        </div>
      <% end %>
      <div class="row">
        <% if can? :destroy, @room %>
          <%= link_to 'Destroy This Room', room_path(@room), class: "btn btn-xl", method: :delete, 'data-confirm': 'Are you Sure?'%>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 reservations">
      <%= render 'reservations/form', reservation: @reservation, room: @room%>
    </div>
  </div>
</div>


<script type="text/javascript">
  var handler = Gmaps.build("Google", {builders: { Marker: CustomMarkerBuilder }} )
  handler.buildMap({ internal:{ id: "map" }}, function(){
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
  }
  });
  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rank]'
  });
  $('#myCarousel').carousel();

</script>
