<%= form_for([@room, @room.reviews.build]) do |f| %>
  <p>
    <%= f.label :rank %>
    <div class="col-sm-6" id='star-rating'></div>
  </p>
  <p>
    <br>
    <%= f.label :comment %><br>
    <%= f.cktext_area :comment %>
  </p>
  <p>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.submit %>
  </p>
<% end %>
